@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #f9f4e8;
  max-width: 1650px;
  margin: 72px auto;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hiring {
  width: 124px;
  height: 32px;
  font-size: 12px;
  border: none;
  border-radius: 24px;
  margin-left: 12px;
  position: absolute;
  color: white;
  background-color: #ea7d64;
}

.hiring:hover {
  cursor: pointer;
  background-color: #eaaa53;
}

.items ul {
  display: flex;
  justify-content: space-between;
  gap: 72px;
}

.items li {
  list-style: none;
}

.items li a,
.checkmark a {
  text-decoration: none;
  font-size: 18px;
  color: #525252;
}

.items li a:hover {
  color: #e95273;
}

.signin a {
  text-decoration: none;
  color: #525252;
  font-size: 18px;
}

.signin a:hover {
  color: #e95273;
}

button {
  margin-left: 16px;
  width: 126px;
  height: 64px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #4977ea;
  cursor: pointer;
}

button:hover {
  background-color: #6969f1;
  cursor: pointer;
}

.mainbody {
  display: flex;
  justify-content: space-between;
  margin-top: 124px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 58px;
  margin-bottom: -12px;
}

p {
  color: #525252;
  line-height: 26px;
  font-size: 18px;
}

input {
  width: 340px;
  height: 64px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-left: 18px;
}

.checkmark {
  margin-top: 24px;
}

.checkmark img {
  margin-right: 12px;
}

.checkmark a {
  text-decoration: none;
  color: #525252;
  font-size: 16px;
  position: absolute;
}

.right {
  position: absolute;
  left: 1380px;
}

.right img {
  position: absolute;
}

.img-1 {
  z-index: 4;
}

.img-2 {
  transform: rotate(-20deg);
  z-index: 3;
}

.img-3 {
  transform: rotate(-40deg);
  z-index: 2;
}

.img-4 {
  transform: rotate(-60deg);
  z-index: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 124px;
}

.link a {
  margin-right: 24px;
  text-decoration: none;
  color: #525252;
  font-size: 18px;
}

.avatar {
  display: flex;
  justify-content: center;
}

.avatar a {
  margin-left: 16px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
